.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
}

.refreshButton {
  border-color: #630000;
  background-color: transparent;
  border-top-left-radius: 20px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 10px;
  color: #630000;
  font-family: 'Indie Flower', cursive;
  font-size: 35px;
}

.refreshButton:hover {
  border-color: black;
  background-color: #6B4F4F;
  border-top-left-radius: 20px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 10px;
  color: white;
  font-family: 'Indie Flower', cursive;
  font-size: 35px;
}

body {
  background-color: #D8B6A4;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  font-size: 5rem;
  color: #630000;
}

p {
  font-size: 2rem;
  color: #630000;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 10%;
  color: #630000;
  text-align: center;
  font-family: 'Indie Flower', cursive;
}
